// Place all the styles related to the vimeo_integration controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#upload-caption-button {
  margin-top: 0;
}

div.caption_col.lang {
  width: 170px;
}

div.caption_col.file {
  width: 100px;
}

div.caption_col.status {
  width: 230px;
}